<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
    <body>

        <main>
            <section class="section">
                <div class="content">
                    {% block content %} {% endblock %}
                </div>
            </section>    
        </main>

    </body>

    <script >
        function swapImage(event) {
            if (event.srcElement.checked) {
                var d = new Date();
                document.getElementById("attention_img").src = "static/" + event.srcElement.id + ".png"; // ?ver=' + d.getTime()
            }
        }
    </script>

</html>